.container {
    padding: 20px;
}

.attendance-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.attendance-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 子要素の間にスペースを配置 */
    margin-bottom: 10px;
    width: 100%;
}

.dateText {
    flex-grow: 1;
    /* 空いているスペースを全て占有 */
    margin-right: 10px;
    /* アイコンとスペースの間に余白を追加 */
}

.button {
    margin-left: 10px;
    padding: 5px 10px;
}

.attendanceActionContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* 空いているスペースを全て占有 */
    justify-content: flex-end;
}

.attendingUsers {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* アイコンと修正ボタンの間にスペースを追加 */
}

.userIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.modifyButton {
    padding: 5px 10px;
    background-color: #ffcc00;
    color: black;
    border: none;
    cursor: pointer;
}